body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
   
    padding: 20px;
    display: flex;
}

.border-blue {
     border: 1px dotted blue;
     
}

/*
Challenge:
Create a utility class for the dotted blue border.
Give the class to both flexbox children in the HTML.
*/
