.main {
  margin-top: 100px;
}

.logo-img {
  display: block;
  width: 300px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  /*
Challenge:
Center the logo and the search field.
*/
}

.search-input {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
