body {
    margin:0;
}

.red {
    background: #c71226;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    /*Challenge:
    Add 100px of margin on the bottom of the red box. */
    
}

.blue {
    background: #0d1b88;
    height: 100px;
}

.green {
    background: #397327;
    height: 100px;
}

