.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
    padding-left: 0px;
    
    /*
    Challenge:
    Add padding to make our card look like
    the provided design */
}
